* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: max-content;
    margin: auto;
    margin-top: 3.5rem;
    position: relative;
}

#opacity {
    position: absolute;
    top: -10px;
    left: -15px;
    width: 110%;
    height: 540px;
    background-color: #bdc3c7;
    opacity: 0.9;
    display: none;
    border-radius: 5px;
}

#logo {
    width: 250px;
    margin: auto;
    margin-bottom: 1rem;
}

#logo img {
    width: 100%;
}

#btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.6rem 1.4rem;
    font-weight: bold;
    border: 2px solid #95a5a6;
    color: #30336b;
    border-radius: 5px;
    font-size: 0.9rem;
}

.cursor {
    cursor: pointer;
}

.start {
    background-color: #2ecc71;
}

.end {
    background-color: #e74c3c;
    color: #ffffff;
}

.history {
    background-color: #3498db;
}


#box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #3742fa
}

#box-container>div {
    width: 100px;
    height: 100px;
    background-color: rgb(253, 217, 223);
    border: 1px solid #3742fa;
    background-size: cover;
}

#player-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.pl1 {
    background-color: #e056fd;
}

.pl2 {
    background-color: #7ed6df;
}

.cross {
    background-image: url("./image/cross.jpg");
}

.circle {
    background-image: url("./image/circle.png");
}

audio {
    visibility: hidden;
}


.fa-solid {
    cursor: pointer;
}

/* pop up */

#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #535c68;
    padding: 1rem 4rem;
    color: #ffffff;
    border-radius: 5px;
    display: none;
}

#pop-up button {
    display: block;
    margin: auto;
    padding: 0.1rem 0.4rem;
    margin-top: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

/* history Div*/

#historyDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #535c68;
    padding: 1rem;
    color: #be2edd;
    box-sizing: border-box;
    display: none;
    border-radius: 5px;
}

#historyDiv table {
    width: 250px;

}

#historyDiv table,
th,
td {
    border: 2px solid red;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

#historyDiv th {
    color: #ffffff;
}

#historyDiv button {
    display: block;
    margin: auto;
    padding: 0.1rem 0.4rem;
    margin-top: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

/* media query */

@media screen and (max-width: 480px) {

    #container {
        margin-top: 4.5rem;
    }

    #pop-up {
        padding: 1rem;
        width: 150px;
        text-align: center;
    }

    #historyDiv {
        top: 45%;
        transform: translate(-50%, -50%);
    }
}